*{
    box-sizing: border-box;
    margin: 0 auto;
}
.banner{
    height: 300px;
    margin: auto;
    background-color: #00113D;    
}
.namebanner{
    font-size: 58px;
    color: #ffff;
    padding: 135px ;
}
.namebanner h1{
    text-align: center;
}
.name2{
    height: 110px;
    background-color: #ffff;

}
.name2 h2{
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    margin: 30px;
}
.name2 p{
    text-align: center;
    padding-top: 50px;
}
.box-top{
    font-size: 33px;
    background-color:#EFF1F9;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    /* border:1px solid black; */
    gap: 50px;
}
.namebox{
    width: calc(100% 3);
   border:1px solid black;
   border-radius:1px;
}
.namebox i{
    margin: 8px;
}
.namebox h3{
    height: 50px;
    font-size: 33px;
}
.namebox p{
    font-size: 11px;

}
.banner2{
    margin: 10px;
    background-color: #00113D;
    height: 85px;
}
.namebanner2{
    background-color: #EFF1F9
    ;
}
.namebanner2 h4{
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    margin: 30px;
}
.namebanner2 p{
    font-size: 22px;
}
.box-text{
text-align: right;
border: 100px solid #EFF1F9;
}
.box-text h5{
 font-size: 35px;
}
.box-text p{
color: #7B88A8;
font-size: 11px;
text-align: right;
}
.box-content{
    
}
.box-content h5{
font-size: 16px;
}
.box-content p{
    font-size: 11px;
}
.box-content2{
    text-align: left;
}
.box-content2 h6{
    font-size: 30px;
}
.box-content2 p{
    color: #7B88A8    ;
    font-size: 11px;
    text-align: left;
}
.box-content2 button{
    background-color: #00113D;
    border: 1px;
    border-radius: 5px solid ;
}
.box-content3{
    text-align: right;
}
.box-content3 h6{
    font-size: 30px;
}
.box-content3 p{
    color: #7B88A8    ;
    font-size: 11px;
    text-align: right;
}
.box-content3 button{
    background-color: #7B88A8;
    border: 1px;
    border-radius: 5px solid ;
    text-align: right;
}
.endbanner{
    background-color: #ffffff;
    text-align: center;
    font-size: 16px;
}
.endbanner p{
    font-size: 11px;
}