:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}
header {
  background: var(--primary-color);
  padding: 1em 0;
  width: 100%;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}
.header-nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 2s forwards 1;
  padding: 20px;
}
.header-nav.is-fixed .header-logo {
  padding-left: 12%;
}
.header-nav.is-fixed .nav__list:last-child {
  padding-right: 12%;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header-banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
  padding: 200px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.modern {
  padding-top: 80px;
}
.modern-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.modern-desc {
  font-weight: 400;
  font-size: 18px;
  color: #7b88a8;
  text-align: center;
  margin-top: 50px;
}
.modern-box {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.modern-item {
  max-width: calc(33.33% - 30px);
  border: 1px solid #7b88a8;
  border-radius: 35px;
  transition: 0.3s linear;
  cursor: pointer;
}
.modern-item i {
  font-size: 42px;
  color: var(--secondary-color);
  margin-top: 40px;
}
.modern-center {
  text-align: center;
}
.modern-box-title {
  font-weight: 500;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.modern-box-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  margin-bottom: 60px;
}
.modern-item:hover {
  border: none;
  box-shadow: 0 14px 28px rgba(0, 17, 61, 0.22),
    0 10px 10px rgba(0, 17, 61, 0.22);
}
.brand {
  padding-top: 100px;
}

.brand-tilte {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}
.brand-bg {
  background-color: var(--primary-color);
  width: 100%;
}
.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-logo img {
  max-width: 150px;
}
.brand-logo img:not(:first-child) {
  margin-left: 50px;
}
.degital {
  padding-top: 50px;
  background-color: #eff1f9;
}
.degital-title {
  font-weight: 500;
  font-size: 46px;
  text-align: center;
  margin-bottom: 30px;
}
.degital-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  text-align: center;
  margin-bottom: 60px;
}
.digital-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
.digital-box-info {
  max-width: 570px;
}
.digital-box-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
}
.digital-box-desc {
  font-weight: 400;
  font-size: 18px;
  color: #7b88a8;
  margin-bottom: 30px;
}
.digital-box-item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.digital-box-item i {
  font-size: 26px;
  color: var(--secondary-color);
  margin-right: 15px;
}
.digital-item-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.digital-item-desc {
  font-weight: 300;
  font-size: 16px;
  color: #7b88a8;
}
.digital-box-button {
  padding: 12px 40px;
  border: none;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.digital-box-button:hover {
  background-color: var(--primary-color);
}
.versatile {
  background-color: #fff;
  position: relative;
  height: 500px;
}
.versatile-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 330px;
}
.versatile-title {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 100px;
}
.versatile-title::after {
  content: "";
  width: 400px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.versatile-desc {
  font-weight: 300;
  font-size: 14px;
  color: #7b88a8;
  text-align: center;
}
.versatile-bottom {
  text-align: center;
  margin-top: 40px;
}
.versatile-button {
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #2e9cca;
  border-radius: 10px;
  border: none;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
.versatile-button:hover {
  background-color: var(--primary-color);
}
footer {
  background: var(--primary-color);
  padding: 48px 135px 15px;
}
.footer:first-child {
  padding-bottom: 40px;
}
.footer:first-child a {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
  padding-top: 10px;
}
footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
}
footer h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
  color: #ffffff;
  padding-top: 0px;
}
footer span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: white;
  display: block;
}
footer img {
  width: 80px;
  height: 45px;
  position: relative;
}
footer fieldset {
  border: 0;
  padding: 0;
}
footer fieldset input {
  width: 235px;
  height: 48px;
  border-radius: 5px;
  background: #e7e5ea;
  border: 0;
  padding: 11px 18px;
}
footer fieldset button {
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 129px;
  height: 48px;
  background: #2e9cca;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 6px;
  transition: 0.3s ease-in-out;
}
footer fieldset button:hover {
  background-color: var(--primary-color);
  border: 1px solid #fff;
}
::placeholder {
  font-size: 16px;
}

.footer,
.form {
  display: flex;
}
.footer-content {
  width: 100%;
  position: relative;
  padding-top: 0px;
}
.footer-content img {
  margin-bottom: 5px;
  margin-left: 15px;
}
.footer-content p {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer .footer:last-child {
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid #2e9cca;
}

footer .footer:last-child .footer-content:last-child {
  text-align: right;
}
footer .footer:last-child .footer-content:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #2e9cca;
  color: white;
  padding: 11px;
  margin-right: 3px;
  text-align: center;
  border-radius: 50%;
}
