:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

/* commom */

.col-half {
  width: 50%;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
  width: 100%;
}

.container {
  /* max-width: 1240px; */
  margin: 0 auto;
  width: 90%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.header-banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
  padding: 200px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.blogs-box {
  max-width: 840px;
  margin: 0 auto;
}
.blogs-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
}
.blogs-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 40px;
}
.blogs-info img {
  max-width: 35px;
  max-height: 35px;
}
.blogs-name {
  font-weight: 500;
  font-size: 16px;
  color: #7b88a8;
}
.blogs-time {
  margin-right: 40px;
  color: #7b88a8;
  font-weight: 500;
  font-size: 14px;
}
.content {
  /* background-color: #97a6cb; */
  width: 100%;
}

.content .post {
  width: 98%;
  margin: 0 auto;
}

.post .heading-title {
  text-align: center;
  color: #00113d;
  font-size: 24px;
  font-weight: 600;
  padding: 136px 0 20px;
}

.content .new-pots {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.new-pots .list-post {
  width: calc(100% / 3);
  border: 1px solid #e7e5ea;
}

.list-post img {
}

.list-post .witer-date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.witer-date .witer {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.witer .img {
  width: 10%;
  height: 10%;
  display: inline;
}

.witer .name-witer {
  font-size: 12px;
  color: #7b88a8;
  line-height: 26.43px;
  /* font-weight: 600; */
  padding: 0px 4px;
}

.witer-date .date {
  font-size: 10px;
  line-height: 26.43px;
  color: #7b88a8;
}

.heading-post {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #2d3958;
}

.sub-heading-post {
  padding-left: 10px;
  padding-top: 10px;
  color: #7b88a8;
  font-size: 12px;
}

.read-more {
  margin: 20px 0px 20px 10px;
  font-size: 14px;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  background-color: #2e9cca;
  color: #fff;
}

.content .late-post {
  width: 98%;
  margin: 100px auto 0;
}

.late-post .heading-title {
  text-align: center;
  color: #00113d;
  font-size: 24px;
  font-weight: 600;
  padding: 0 0 20px;
}

.content .new-late-post {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.new-late-post .list-late-post {
  width: calc(100% / 2);
}

.late-post .list-late-post > img {
  border-radius: 30px;
}

.late-post .heading-post {
  padding: 10px 0 10px 10px;
  font-size: 16px;
  font-weight: 600;
  color: #2d3958;
  text-decoration: underline;
}
