:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}
.header-nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 2s forwards 1;
  padding: 20px;
}
.header-nav.is-fixed .header-logo {
  padding-left: 12%;
}
.header-nav.is-fixed .nav__list:last-child {
  padding-right: 12%;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
  padding: 200px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.detail {
  padding-top: 80px;
  padding-bottom: 100px;
}
.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.detail-image-main {
  max-width: 600px;
  height: 600px;
  background-color: #eff1f9;
  border-radius: 20px;
}
.detail-image-list {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 5;
}
.detail-image-item {
  max-width: 130px;
  background-color: #eff1f9;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.detail-image-item:hover {
  border: 5px solid var(--secondary-color);
}
.detail-image-item.active {
  border: 5px solid var(--secondary-color);
}
.detail-info {
  max-width: 500px;
}
.detail-info-name {
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 25px;
}
.detail-info-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.detail-info-price span {
  font-weight: 700;
  font-size: 24px;
  color: #00113d;
  margin-right: 20px;
}
.detail-info-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  margin-top: 50px;
  margin-bottom: 50px;
}
.detail-info-quantity {
  display: flex;
  margin-bottom: 30px;
}
.detail-info-quantity input {
  max-width: 80px;
  min-height: 50px;
  appearance: none;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100px;
  text-align: center;
}

.detail-info-quantity input::-webkit-outer-spin-button,
.detail-info-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.detail-info-quantity input[type="number"] {
  -moz-appearance: textfield;
}
.quantity-prev,
.quantity-next {
  width: 50px;
  background-color: var(--secondary-color);
  border: 1px solid #7b88a8;
  transition: 0.3s linear;
}
.quantity-prev i,
.quantity-next i {
  color: #fff;
  font-size: 16px;
}
.quantity-prev:hover,
.quantity-next:hover {
  background-color: var(--primary-color);
}
.quantity-prev {
  border-radius: 10px 0 0 10px;
}
.quantity-next {
  border-radius: 0 10px 10px 0;
}
.detail-info-button {
  border: 1px solid #7b88a8;
  background-color: var(--secondary-color);
  margin-left: 50px;
  padding: 14px 25px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  transition: 0.3s linear;
}
.detail-info-button:hover {
  background-color: var(--primary-color);
}
.dilital-info-icon {
  margin-bottom: 50px;
}
.dilital-info-icon i {
  font-size: 22px;
  color: #7b88a8;
  margin-right: 20px;
  transition: 0.3s linear;
}
.dilital-info-icon i:nth-child(2) {
  margin-left: 10px;
}
.dilital-info-icon i:hover {
  color: var(--primary-color);
}
.detail-info-gif {
  margin-top: 50px;
}
.description-menu {
  text-align: center;
  margin-bottom: 30px;
}
.description-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-menu-item:not(:first-child) {
  margin-left: 40px;
}
.description-menu-item {
  font-weight: 500;
  font-size: 18px;
  color: #2d3958;
  transition: 0.3s linear;
  cursor: pointer;
}
.description-menu-item:hover {
  color: #2e9cca;
}
.description-menu-item.active {
  position: relative;
}
.description-menu-item.active::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  border-radius: 50%;
}
.description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 30px 0;
}
.description-desc {
  max-width: 600px;
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
}
.description {
  padding-bottom: 30px;
}

.outstanding-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.outstanding-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.outstanding-image {
  background-color: #eff1f9;
  border-radius: 10px;
}
.outstanding-info {
  margin-top: 20px;
  text-align: center;
}
.outstanding-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.outstanding-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.outstanding-price span {
  font-weight: 700;
  margin-right: 40px;
}
.outstanding-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.outstanding-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  color: #aaabb8;
  font-size: 20px;
  transition: all 0.25s ease;
}
.outstanding-social-link:hover {
  color: white;
}
.outstanding-main {
  position: relative;
  z-index: 1;
  transition: transform 0.25s linear;
  will-change: transform;
}
.outstanding-main .outstanding-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background: linear-gradient(
    to bottom,
    hsla(223, 100%, 12%, 0.749),
    hsla(180, 100%, 50%, 0.502)
  );
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.outstanding-main:hover .outstanding-content {
  opacity: 1;
  visibility: visible;
}
.versatile {
  padding-top: 100px;
  margin-top: 100px;
  background-color: #eff1f9;
  position: relative;
  height: 500px;
}
.versatile-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 330px;
}
.versatile-title {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 50px;
}
.versatile-title::after {
  content: "";
  width: 400px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.versatile-desc {
  font-weight: 300;
  font-size: 14px;
  color: #7b88a8;
  text-align: center;
}
.versatile-bottom {
  text-align: center;
  margin-top: 40px;
}
.versatile-button {
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #2e9cca;
  border-radius: 10px;
  border: none;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
.versatile-button:hover {
  background-color: var(--primary-color);
}
footer {
  background: var(--primary-color);
  padding-top: 50px;
}
.footer:first-child {
  padding-bottom: 40px;
}
.footer:first-child a {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
  padding-top: 10px;
}
footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
}
footer h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
  color: #ffffff;
  padding-top: 0px;
}
footer span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: white;
  display: block;
}
footer img {
  width: 80px;
  height: 45px;
  position: relative;
}
footer fieldset {
  border: 0;
  padding: 0;
}
footer fieldset input {
  width: 235px;
  height: 48px;
  border-radius: 5px;
  background: #e7e5ea;
  border: 0;
  padding: 11px 18px;
}
footer fieldset button {
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 129px;
  height: 48px;
  background: #2e9cca;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 6px;
  transition: 0.3s ease-in-out;
}
footer fieldset button:hover {
  background-color: var(--primary-color);
  border: 1px solid #fff;
}
::placeholder {
  font-size: 16px;
}

.footer,
.form {
  display: flex;
}
.footer-content {
  width: 100%;
  position: relative;
  padding-top: 0px;
}
.footer-content img {
  margin-bottom: 5px;
  margin-left: 15px;
}
.footer-content p {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer .footer:last-child {
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid #2e9cca;
}

footer .footer:last-child .footer-content:last-child {
  text-align: right;
}
footer .footer:last-child .footer-content:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #2e9cca;
  color: white;
  padding: 11px;
  margin-right: 3px;
  text-align: center;
  border-radius: 50%;
}
