:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.content {
  /* background-color: #97a6cb; */
  width: 100%;
}

.content .product {
  /* background-color: #2e9cca; */
  width: 98%;
  margin: 100px auto 0;
}

.product .title {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title select {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #e7e5ea;
  color: #7b88a8;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #e7e5ea;
}

.product_list {
  /* background-color: #FF6200; */
  display: flex;
  width: 90%;
  margin: 0px auto 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_list .list {
  /* background-color: #EFF1F9; */
  /* border: 1px solid black; */
  width: 24%;
  margin: 40px 0;
}

.product_list .list a {
  text-decoration: none;
}

.product_list .list img {
  width: 100%;
  background-color: #eff1f9;
  border-radius: 10px;
}

.heading-pr {
  margin: 19px 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #1e1e1e;
}

.ngang2 {
  display: flex;
  justify-content: space-around;
  color: #7b88a8;
}

.ngang2 span {
  font-weight: 600;
  font-size: 16px;
}

.ngang2 del {
  font-size: 16px;
}

.sub {
  margin: 136px auto 0;
  background-color: #eff1f9;
}

.sub .heading-sub {
  padding-top: 110px;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.sub .input {
  display: block;
  margin: 46px auto 0;
  width: 400px;
  border: none;
  background-color: #eff1f9;
  border-bottom: 2px solid #2e9cca;
}

.sub .text-sub {
  text-align: center;
  margin-top: 34px;
  color: #7b88a8;
  font-weight: lighter;
  font-size: 14px;
}

.sub button {
  display: block;
  margin: 40px auto 0;
  font-size: 18px;
  background-color: #2e9cca;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
}

.sub .tep {
  padding-top: 100px;
}
