:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  /* padding: 1em 0; */
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  /* padding: 20px; */
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.header-nav .header-toggle {
  display: none;
}

.header-toggle {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 240px;
}
.nav__list,
.nav__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.nav__link,
.nav__links {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover,
.nav__links:hover {
  color: var(--secondary-color);
}

.nav__links:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__links i.absolute {
  position: relative;
}

.nav__links span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
  font-family: "JetBrains Mono", sans-serif;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.header-nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 2s forwards 1;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}
.header-nav.is-fixed .container-fixed {
  max-width: 1240px;
  margin: 0 auto;
}

.banner {
  max-height: 600px;
  margin: 0 auto;
  background-color: #00113d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  font-weight: 700;
  font-size: 74px;
  color: white;
  line-height: calc(90 / 74);
  margin-top: 50px;
}
.banner-heading span {
  color: #2e9cca;
}
.banner-desc {
  font-size: 14px;
  font-weight: 400;
  color: #cbd5e1;
  max-width: 525px;
  margin-top: 20px;
  line-height: calc(18 / 14);
}
.banner-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
.banner-button-item button {
  padding: 13px 36px;
  border: 1.5px solid #fff;
  background-color: #1e1e1e;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  transition: 0.3s linear;
}
.banner-info {
  width: 45%;
}
.banner-button-item button i {
  margin-right: 10px;
}
.banner-button-item button:hover {
  background-color: #2e9cca;
}
.banner-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  margin-top: 77px;
}
.banner-user-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
  line-height: calc(30 / 24);
  color: #fff;
  text-align: center;
}
.banner-user-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #c8c8c8;
}
.banner-slider {
  width: 55%;
  position: relative;
}
.banner-image {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  height: 550px;
  border-radius: 100%;
  background: linear-gradient(
    to bottom,
    rgba(170, 171, 184, 0.7),
    rgba(0, 17, 61, 0) 80%
  );
}
.banner-image-item {
  height: 330px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  background-size: contain;
}
.banner-image-item-1 {
  left: 20%;
  opacity: 1;
  transform: translateX(-50%);
  top: 10%;
  z-index: 2;
}
.banner-image-item-2 {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  top: 15%;
}
.banner-image-item-3 {
  opacity: 1;
  left: 80%;
  transform: translateX(-50%);
  z-index: 2;
  top: 10%;
}
.banner-shadow {
  width: 100%;
  height: 100px;
  background-color: #1e1e1e;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  opacity: 38%;
  z-index: 0;
}
.header-banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
  padding: 200px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .banner {
    max-height: 500px;
  }
  .header-menu {
    gap: 100px;
  }
  .container {
    max-width: 95%;
  }
  .header-nav.is-fixed .container-fixed {
    padding: 15px 20px;
  }
  .banner-heading {
    font-size: 56px;
  }
  .banner-desc {
    max-width: 400px;
    font-size: 12px;
  }
  .banner-image {
    max-width: 450px;
    max-height: 480px;
  }
  .banner-image-item {
    width: 280px;
    height: 280px;
  }
  .banner-image-item-1 {
    left: 25%;
  }
  .banner-image-item-3 {
    left: 75%;
    top: 12%;
  }
  .banner-shadow {
    max-width: 450px;
    height: 80px;
    top: 57%;
  }
  .banner-user {
    margin-top: 50px;
  }
  .banner-user-name {
    font-size: 12px;
  }
  .banner-button-item button {
    padding: 10px 28px;
  }
}
@media screen and (max-width: 1023px) {
  .banner {
    max-height: 350px;
  }
  .banner-heading {
    font-size: 42px;
    margin-top: 0;
  }

  .banner-desc {
    margin-top: 10px;
  }
  .banner-button {
    margin-top: 20px;
  }
  .banner-button-item button {
    padding: 10px 25px;
    font-size: 14px;
  }
  .banner-user-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .banner-user-name {
    font-weight: 300;
    font-size: 8px;
  }
  .banner-image {
    max-width: 340px;
    height: 340px;
  }
  .banner-image-item {
    width: 180px;
    height: 180px;
  }
  .banner-user {
    margin-top: 30px;
    gap: 80px;
  }
  .header .header-toggle {
    display: block;
    align-self: center;
  }
  .header .nav__list,
  .header .nav__icon {
    display: block;
  }
  .header .header-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 300px;
    display: block;
    padding: 20px 25px;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.25s ease-in;
  }
  .header .header-menu.is-expand {
    transform: translateX(0);
    border: 5px solid #fff;
    border-radius: 20px 0 0 20px;
  }
  .nav__item {
    margin-bottom: 20px;
    display: grid;
    text-align: center;
  }
  .banner-slider {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    display: block;
    text-align: center;
  }
  .banner-info {
    display: none;
  }
  .banner-image {
    max-width: 340px;
    height: 340px;
  }
  .banner-image-item {
    width: 180px;
    height: 180px;
  }
  .banner-slider {
    width: 100%;
  }
  .header .nav__list,
  .header .nav__icon {
    margin-right: 40px;
  }
}
/*------------ index ----------------------------*/

.outstanding,
.custum {
  padding-top: 50px;
}
.outstanding-title,
.custum-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.outstanding-list,
.custum-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.outstanding-image,
.custum-image {
  background-color: #eff1f9;
  border-radius: 10px;
}
.outstanding-info,
.custum-info {
  margin-top: 20px;
  text-align: center;
}
.outstanding-name,
.custum-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.outstanding-price,
.custum-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.outstanding-price span {
  font-weight: 700;
  margin-right: 40px;
}
.custum-price span {
  font-weight: 700;
}
.outstanding-social,
.custum-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.outstanding-social-link,
.custum-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  color: #aaabb8;
  font-size: 20px;
  transition: all 0.25s ease;
}
.outstanding-social-link:hover,
.custum-social-link:hover {
  color: white;
}
.outstanding-main,
.custum-main {
  position: relative;
  z-index: 1;
  transition: transform 0.25s linear;
  will-change: transform;
  padding-bottom: 20px;
}
.outstanding-main .outstanding-content,
.custum-main .custum-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background: linear-gradient(
    to bottom,
    hsla(223, 100%, 12%, 0.749),
    hsla(180, 100%, 50%, 0.502)
  );
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.outstanding-main:hover .outstanding-content,
.custum-main:hover .custum-content {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1023px) {
  .outstanding,
  .custum {
    padding-top: 30px;
  }
  .outstanding-title,
  .custum-title {
    font-size: 28px;
  }
  .outstanding-info,
  .custum-info {
    margin-top: 14px;
  }
  .outstanding-name,
  .custum-name {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .outstanding-price,
  .custum-price {
    font-size: 14px;
  }
  .outstanding-price span {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767px) {
  .outstanding,
  .custum {
    padding-top: 20px;
  }
  .outstanding-list,
  .custum-list {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 20px;
  }
}

.brand {
  padding-top: 100px;
}

.brand-tilte {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.brand-bg {
  background-color: var(--primary-color);
  width: 100%;
}
.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-logo img {
  max-width: 150px;
}
.brand-logo img:not(:first-child) {
  margin-left: 50px;
}
@media screen and (max-width: 1023px) {
  .brand {
    padding-top: 70px;
  }
  .brand-tilte {
    font-size: 18px;
  }
  .brand-logo img {
    max-width: 110px;
  }
}
@media screen and (max-width: 767px) {
  .brand {
    padding-top: 40px;
  }
  .brand-tilte {
    font-size: 18px;
  }
  .brand-logo img {
    max-width: 100px;
  }
  .brand-logo img:not(:first-child) {
    margin-left: 20px;
  }
}
.intelligent {
  padding-top: 100px;
}
.intellegent-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.intelligent-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.intelligent-top img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.intelligent-top img:not(:first-child) {
  margin-left: 50px;
}
.intelligent-bottom {
  margin-top: 50px;
  width: 100%;
}
.intelligent-bottom img {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .intelligent-top img {
    height: 400px;
  }
  .intelligent-bottom img {
    height: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .intelligent {
    padding-top: 70px;
  }
  .intelligent-top img {
    height: 300px;
  }
  .intelligent-top img:not(:first-child) {
    margin-left: 30px;
  }
  .intelligent-bottom img {
    margin-top: 0;
    height: 300px;
  }
  .intellegent-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  .intelligent {
    padding-top: 40px;
  }
  .intelligent-top {
    display: block;
  }
  .intelligent-top img {
    height: 300px;
    margin-bottom: 0px;
  }
  .intelligent-top img:not(:first-child) {
    margin-left: 0px;
  }
  .intelligent-top img:first-child {
    margin-bottom: 20px;
  }
  .intelligent-bottom {
    margin-top: 20px;
  }
  .intelligent-bottom img {
    margin-top: 0;
    height: 300px;
  }
  .intellegent-title {
    font-size: 18px;
  }
}

/*------------ about ----------------------------*/

.modern {
  padding-top: 80px;
}
.modern-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.modern-desc {
  font-weight: 400;
  font-size: 18px;
  color: #7b88a8;
  text-align: center;
  margin-top: 50px;
}
.modern-box {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.modern-item {
  max-width: calc(33.33% - 30px);
  border: 1px solid #7b88a8;
  border-radius: 35px;
  transition: 0.3s linear;
  cursor: pointer;
}
.modern-item i {
  font-size: 42px;
  color: var(--secondary-color);
  margin-top: 40px;
}
.modern-center {
  text-align: center;
}
.modern-box-title {
  font-weight: 500;
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.modern-box-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  margin-bottom: 60px;
}
.modern-item:hover {
  border: none;
  box-shadow: 0 14px 28px rgba(0, 17, 61, 0.22),
    0 10px 10px rgba(0, 17, 61, 0.22);
}

.degital {
  padding-top: 50px;
  background-color: #eff1f9;
}
.degital-title {
  font-weight: 500;
  font-size: 46px;
  text-align: center;
  margin-bottom: 30px;
}
.degital-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  text-align: center;
  margin-bottom: 60px;
}
.digital-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}
.digital-box-info {
  max-width: 570px;
}
.digital-box-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
}
.digital-box-desc {
  font-weight: 400;
  font-size: 18px;
  color: #7b88a8;
  margin-bottom: 30px;
}
.digital-box-item {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}
.digital-box-item i {
  font-size: 26px;
  color: var(--secondary-color);
  margin-right: 15px;
}
.digital-item-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.digital-item-desc {
  font-weight: 300;
  font-size: 16px;
  color: #7b88a8;
}
.digital-box-button {
  padding: 12px 40px;
  border: none;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.digital-box-button:hover {
  background-color: var(--primary-color);
}

/*------------ shop ----------------------------*/

.products {
  padding-top: 50px;
}
.products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.products-title-left {
  font-weight: 500;
  font-size: 18px;
}
.products-title-right {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  width: 300px;
  border-radius: 5px;
}
.products-title-right option {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 300px;
  border-radius: 5px;
  background-color: #00113d;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 20px;
}
.products-image {
  background-color: #eff1f9;
  border-radius: 10px;
}
.products-info {
  margin-top: 20px;
  text-align: center;
}
.products-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.products-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.products-price span {
  font-weight: 700;
  margin-right: 40px;
}

.products-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.products-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  color: #aaabb8;
  font-size: 20px;
  transition: all 0.25s ease;
}
.products-social-link:hover {
  color: white;
}
.products-main {
  position: relative;
  z-index: 1;
  transition: transform 0.25s linear;
  will-change: transform;
}
.products-main .products-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background: linear-gradient(
    to bottom,
    hsla(223, 100%, 12%, 0.749),
    hsla(180, 100%, 50%, 0.502)
  );
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.products-main:hover .products-content {
  opacity: 1;
  visibility: visible;
}
.pagination {
  padding-top: 50px;
}
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-list a {
  display: inline-block;
  padding: 15px 20px;
  border: none;
  margin: 0 4px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  color: #7b88a8;
  transition: background-color 0.3s ease-in-out;
}

.pagination-list a.active,
.pagination-list a:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.pagination-list .prev,
.pagination-list .next {
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 20px;
  margin: 0 4px;
}

.pagination-list .prev:hover,
.pagination-list .next:hover {
  background-color: var(--secondary-color);
}
.dropdown {
  width: 100%;
  max-width: 400px;
  position: relative;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
}
.dropdown__select {
  border-radius: inherit;
}
.dropdown__select * {
  pointer-events: none;
}
.dropdown__list {
  margin-top: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}
.dropdown__list.show {
  display: block;
}
.dropdown__list:before {
  content: "";
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdown__select,
.dropdown__item {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #7b88a8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #7b88a8;
  font-weight: 400;
  font-size: 14px;
}
.dropdown__item {
  transition: background-color 0.2s linear;
  background-color: #fff;
}
.dropdown__item * {
  pointer-events: none;
}
.dropdown__item:first-child {
  border-radius: 4px 4px 0 0;
  position: relative;
}
.dropdown__item:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #7b88a8;
  transform: translateY(-100%);
  transition: border-color 0.2s linear;
}
.dropdown__item:first-child:hover:before {
  border-bottom-color: var(--primary-color);
}
.dropdown__item:last-child {
  border-radius: 0 0 4px 4px;
}
.dropdown__item:hover {
  background-color: var(--primary-color);
}
.dropdown__text {
  text-align: center;
}

/*------------ blogs ----------------------------*/

.blogs {
  padding-top: 80px;
}
.blogs-box {
  max-width: 840px;
  margin: 0 auto;
  border: 1px solid #7b88a8;
  border-radius: 10px;
  margin-bottom: 30px;
}
.blogs-box img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.blogs-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 25px;
}
.blogs-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 40px;
}
.blogs-info img {
  max-width: 35px;
  max-height: 35px;
}
.blogs-name {
  font-weight: 500;
  font-size: 16px;
  color: #7b88a8;
}
.blogs-time {
  margin-right: 40px;
  color: #7b88a8;
  font-weight: 500;
  font-size: 14px;
}
.blogs-title {
  font-family: 500;
  font-size: 34px;
  color: var(--primary-color);
  margin-top: 30px;
  margin-left: 40px;
  max-width: 755px;
}
.blogs-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  margin-top: 30px;
  margin-left: 40px;
  max-width: 755px;
}
.blogs-button {
  padding: 12px 32px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.blogs-button:hover {
  background-color: var(--primary-color);
}

/*------------ contact ----------------------------*/

.contact {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/AI/img emo/contact-bg.png") no-repeat center/cover;
  z-index: -1;
  padding: 100px 0;
}
.contact-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: grid;
  gap: 20px 20px;
  font-family: "JetBrains Mono", sans-serif;
  padding-right: 30px;
  position: relative;
}
.contact-form::after {
  content: "";
  width: 4px;
  height: 500px;
  background-color: #7b88a8;
  position: absolute;
  right: 0;
  top: 0;
}
.name,
.subject {
  grid-column: 1;
  width: 360px;
  padding: 17px 20px;
  background-color: rgba(231, 231, 231, 0.2);
  border: 1px solid #7b88a8;
  border-radius: 10px;
  color: #fff;
}
.email,
.phone {
  grid-column: 2;
  width: 360px;
  background-color: rgba(231, 231, 231, 0.2);
  border: 1px solid #7b88a8;
  border-radius: 10px;
  padding: 17px 20px;
  color: #fff;
}
.message,
button {
  grid-column: 1 / span 2;
}
.message {
  height: 275px;
  background-color: rgba(231, 231, 231, 0.2);
  border: 1px solid #7b88a8;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.contact-form button {
  height: 54px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  font-family: "JetBrains Mono", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: var(--primary-color);
  border: none;
}
.message::placeholder {
  color: #d9d9d9;
  font-weight: 400;
  font-size: 18px;
}
.contact-detail {
  padding-left: 30px;
}
.contact-detail h4 {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: white;
}
.contact-detail p {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 10px;
}
.contact-detail i {
  color: #2e9cca;
  vertical-align: middle;
  background-color: #cbd5e1;
  padding: 22px 15px;
  border-radius: 10px;
  margin-right: 20px;
}

.contact-item {
  max-width: 406px;
  padding-top: 70px;
  display: flex;
  align-items: center;
}

/*------------ cart ----------------------------*/

.cart {
  padding: 70px 0;
}
.cart-table {
  width: 100%;
  border: 1px solid #7b88a8;
}
.cart-table thead {
  background-color: #eff1f9;
}
.cart-table tr {
  max-width: 200px;
  min-height: 100px;
}
.cart-table thead tr td {
  padding: 17px 30px;
  font-weight: 500;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.cart-table thead tr td:first-child {
  width: 80px;
}
.cart-table thead tr td:nth-child(2) {
  width: 230px;
}
.cart-table thead tr td:nth-child(3) {
  width: 330px;
}
.cart-table tbody tr td {
  padding: 30px;
  max-height: 50px;
  vertical-align: middle;
  text-align: center;
}
.cart-table tbody tr td:nth-child(3) {
  font-size: 18px;
  font-weight: 700;
  color: #2e9cca;
}
.cart-table tbody tr td img {
  max-width: 100px;
  background-color: #eff1f9;
  border-radius: 10px;
}
.cart-table tbody tr td .icon {
  font-size: 26px;
  color: #d9d9d9;
  transition: 0.3s linear;
}
.cart-table tbody tr td .icon:hover {
  color: var(--primary-color);
}
.cart-table tbody tr td:nth-child(4),
.cart-table tbody tr td:nth-child(6) {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.cart-table tbody tr td input {
  max-width: 50px;
  min-height: 30px;
  text-align: center;
}
.cart-table tbody tr:not(:first-child) {
  border-top: 1px solid #eff1f9;
}
.cart-prev,
.cart-next {
  width: 30px;
  min-height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid #7b88a8;
  transition: 0.3s linear;
}
.cart-prev i,
.cart-next i {
  color: #fff;
  font-size: 16px;
}
.cart-prev:hover,
.cart-next:hover {
  background-color: var(--primary-color);
}
.cart-prev {
  border-radius: 5px 0 0 5px;
}
.cart-next {
  border-radius: 0 5px 5px 0;
}
.cart-table tbody tr td input::-webkit-outer-spin-button,
.cart-table tbody tr td input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-right {
  display: flex;
  justify-content: flex-end;
}
.cart-bottom {
  max-width: 620px;
  border: 1px solid #7b88a8;
  margin-top: 50px;
}
.cart-title {
  font-weight: 500;
  font-size: 22px;
  background-color: #eff1f9;
  padding: 17px 440px 17px 30px;
  border-bottom: 1px solid #7b88a8;
}
.cart-item {
  max-width: 520px;
  margin: 30px auto;
}
.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart-info:not(:first-child) {
  margin-top: 20px;
}
.cart-name {
  font-weight: 500;
  font-size: 18px;
}
.cart-price {
  font-weight: 500;
  font-size: 18px;
}
.cart-low {
  text-align: center;
}
.cart-button {
  padding: 10px 25px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  transition: 0.3s linear;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.cart-button:hover {
  background-color: var(--primary-color);
}

/*------------ checkout ----------------------------*/

.checkout {
  padding: 50px 0;
}
.checkout-box {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.checkout-address {
  width: calc(55% - 10px);
}
.checkout-address-title {
  font-weight: 500;
  font-size: 24px;
  background-color: #fff;
  position: relative;
}
.checkout-address-title::after {
  content: "";
  border-top: 1px dashed #000;
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 70%;
}
.checkout-address-box {
  margin-top: 24px;
  border: 1px solid #7b88a8;
  margin-left: 10px;
  width: 100%;
}
.checkout-address-box form {
  margin: 20px;
}
.checkout-address-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.checkout-address-input {
  margin-bottom: 30px;
}
.checkout-address-item :first-child {
  margin-right: 30px;
}
.checkout-address-input label {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
}
.checkout-address-input input {
  width: 300px;
  padding: 14px 20px;
  font-weight: 300;
  font-size: 14px;
  border: none;
  background-color: #eff1f9;
  border-radius: 5px;
  font-family: "JetBrains Mono", sans-serif;
}
.checkout-address-input input::placeholder {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #aaabb8;
}
.checkout-total {
  width: calc(45% - 10px);
  margin-left: 20px;
}
.checkout-total-title {
  font-weight: 500;
  font-size: 24px;
  background-color: #fff;
  position: relative;
  margin-left: 10px;
}
.checkout-total-title::after {
  content: "";
  border-top: 1px dashed #000;
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 75%;
}
.checkout-total-box {
  margin-top: 24px;
  border: 1px solid #7b88a8;
  margin-left: 20px;
  width: 100%;
}
.checkout-total-list {
  margin: 20px;
}
.checkout-total-heading {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}
.checkout-total-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.checkout-total-info:not(:first-child) {
  margin-top: 20px;
}
.checkout-total-name,
.checkout-total-quantity,
.checkout-total-price {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
}
.checkout-total-sub,
.checkout-total-ship {
  font-weight: 400;
  font-size: 18px;
}
.checkout-total-total {
  font-weight: 500;
  font-size: 22px;
}
.checkout-pay-title {
  font-weight: 500;
  font-size: 24px;
  background-color: #fff;
  position: relative;
  margin-left: 10px;
  margin-top: 30px;
}
.checkout-pay-title::after {
  content: "";
  border-top: 1px dashed #000;
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 86%;
}
.checkout-pay-low {
  margin-top: 20px;
  margin-left: 40px;
}
.checkout-total-button {
  padding: 15px 40%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  transition: 0.3s linear;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.checkout-total-button:hover {
  background-color: var(--primary-color);
}

/*------------ detail ----------------------------*/

.detail {
  padding-top: 80px;
  padding-bottom: 100px;
}
.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.detail-image-main {
  max-width: 600px;
  height: 600px;
  background-color: #eff1f9;
  border-radius: 20px;
}
.detail-image-list {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.detail-image-item {
  max-width: 130px;
  background-color: #eff1f9;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.detail-image-item:hover {
  border: 5px solid var(--secondary-color);
}
.detail-image-item.is-active {
  border: 5px solid var(--secondary-color);
}
.detail-info {
  max-width: 500px;
}
.detail-info-name {
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 25px;
}
.detail-info-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.detail-info-price span {
  font-weight: 700;
  font-size: 24px;
  color: #00113d;
  margin-right: 20px;
}
.detail-info-desc {
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
  margin-top: 50px;
  margin-bottom: 50px;
}
.detail-info-quantity {
  display: flex;
  margin-bottom: 30px;
}
.detail-info-quantity input {
  max-width: 80px;
  min-height: 50px;
  appearance: none;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100px;
  text-align: center;
}

.detail-info-quantity input::-webkit-outer-spin-button,
.detail-info-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-prev,
.quantity-next {
  width: 50px;
  background-color: var(--secondary-color);
  border: 1px solid #7b88a8;
  transition: 0.3s linear;
}
.quantity-prev i,
.quantity-next i {
  color: #fff;
  font-size: 16px;
}
.quantity-prev:hover,
.quantity-next:hover {
  background-color: var(--primary-color);
}
.quantity-prev {
  border-radius: 10px 0 0 10px;
}
.quantity-next {
  border-radius: 0 10px 10px 0;
}
.detail-info-button {
  border: 1px solid #7b88a8;
  background-color: var(--secondary-color);
  margin-left: 50px;
  padding: 14px 25px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  transition: 0.3s linear;
}
.detail-info-button:hover {
  background-color: var(--primary-color);
}
.dilital-info-icon {
  margin-bottom: 50px;
}
.dilital-info-icon i {
  font-size: 22px;
  color: #7b88a8;
  margin-right: 20px;
  transition: 0.3s linear;
}
.dilital-info-icon i:nth-child(2) {
  margin-left: 10px;
}
.dilital-info-icon i:hover {
  color: var(--primary-color);
}
.detail-info-gif {
  margin-top: 50px;
  max-width: 500px;
  height: 320px;
  border-radius: 20px;
}
.description-menu {
  text-align: center;
  margin-bottom: 30px;
}
.description-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-menu-item:not(:first-child) {
  margin-left: 40px;
}
.description-menu-item {
  font-weight: 500;
  font-size: 18px;
  color: #2d3958;
  transition: 0.3s linear;
  cursor: pointer;
}
.description-menu-item:hover {
  color: #2e9cca;
}
.description-menu-item.active {
  position: relative;
}
.description-menu-item.active::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  border-radius: 50%;
}
.description-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 30px 0;
}
.description-desc {
  max-width: 600px;
  font-weight: 400;
  font-size: 16px;
  color: #7b88a8;
}
.description {
  padding-bottom: 30px;
}

/*------------ footer ----------------------------*/

.versatile {
  padding-top: 100px;
  margin-top: 100px;
  background-color: #eff1f9;
  position: relative;
  height: 500px;
  z-index: 1;
}
.versatile-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 330px;
  z-index: -1;
}
.versatile-title {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 50px;
  z-index: 1;
}
.versatile-title::after {
  content: "";
  width: 400px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.versatile-desc {
  font-weight: 300;
  font-size: 14px;
  color: #7b88a8;
  text-align: center;
  z-index: 1;
}
.versatile-bottom {
  text-align: center;
  margin-top: 40px;
  z-index: 1;
}
.versatile-button {
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #2e9cca;
  border-radius: 10px;
  border: none;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  transition: 0.3s linear;
}
.versatile-button:hover {
  background-color: var(--primary-color);
}

@media screen and (max-width: 1279px) {
  .versatile {
    height: 360px;
    padding-top: 50px;
  }
  .versatile-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 1023px) {
  .versatile {
    height: 300px;
  }
  .versatile-title {
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  .versatile-title::after {
    width: 350px;
  }
  .versatile-desc {
    font-size: 12px;
  }
}
@media screen and (max-width: 1023px) {
  .versatile {
    height: 200px;
  }
  .versatile-title {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .versatile-title::after {
    width: 200px;
  }
  .versatile-desc {
    font-size: 12px;
  }
  .versatile-button {
    padding: 10px 24px;
    font-size: 12px;
  }
  .versatile-bottom {
    margin-bottom: 20px;
  }
}

.footer {
  background: var(--primary-color);
  padding: 50px 0 10px 0;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 60px;
  margin-bottom: 40px;
}
.footer-logo {
  width: calc(20% - 40px);
}
.footer-logo h5 {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
}
.footer-logo img {
  margin-left: 17px;
}
.footer-center {
  width: calc(45% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 24px;
}
.footer-center-title {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-center-link a {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s linear;
}
.footer-center-link a:hover {
  color: var(--secondary-color);
}
.footer-center-link:not(:first-child) {
  margin-top: 10px;
}
.footer-right {
  width: calc(35% - 40px);
}
.footer-right-title {
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-right p {
  font-weight: 400;
  font-weight: 16px;
  color: #fff;
  margin-bottom: 15px;
  line-height: calc(24 / 16);
}
.footer-right-form {
  margin-bottom: 15px;
}
.footer-right-form input {
  max-width: 235px;
  padding: 11px 18px;
  background-color: #e7e5ea;
  border-radius: 5px;
  border: none;
}
.footer-right-form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.footer-right-form button {
  padding: 11px 40px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.3s linear;
}
.footer-right-form button:hover {
  background-color: #fff;
  color: var(--primary-color);
  /* border: 1px solid #fff;   */
}
.footer-bottom {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.footer-bottom-info {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
.footer-bottom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.footer-bottom-icon i {
  font-size: 24px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer-bottom-icon li {
  position: relative;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 1279px) {
  .footer-right-form input {
    max-width: 180px;
  }
  .footer-right-form button {
    padding: 11px 26px;
  }
}
@media screen and (max-width: 1023px) {
  .footer-list {
    display: block;
  }
  .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer-center {
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
  }
  .footer-logo img {
    display: inline-block;
    margin-left: 0;
  }
  .footer-right {
    width: 100%;
    text-align: center;
  }
}
