:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  /* padding: 1em 0; */
  width: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  /* padding: 20px; */
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.header-nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 2s forwards 1;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}
.header-nav.is-fixed .container-fixed {
  max-width: 1240px;
  margin: 0 auto;
}

.banner {
  max-height: 600px;
  margin: 0 auto;
  background-color: #00113d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading {
  font-weight: 700;
  font-size: 74px;
  color: white;
  line-height: calc(90 / 74);
  margin-top: 50px;
}
.banner-heading span {
  color: #2e9cca;
}
.banner-desc {
  font-size: 14px;
  font-weight: 400;
  color: #cbd5e1;
  max-width: 525px;
  margin-top: 20px;
  line-height: calc(18 / 14);
}
.banner-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}
.banner-button-item button {
  padding: 13px 36px;
  border: 1.5px solid #fff;
  background-color: #1e1e1e;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  transition: 0.3s linear;
}

.banner-button-item button i {
  margin-right: 10px;
}
.banner-button-item button:hover {
  background-color: #2e9cca;
}
.banner-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 77px;
  gap: 100px;
  margin-bottom: 120px;
}
.banner-user-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
  line-height: calc(30 / 24);
  color: #fff;
  text-align: center;
}
.banner-user-name {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #c8c8c8;
}
.banner-slider {
  width: 55%;
  position: relative;
}
.banner-image {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  height: 550px;
  border-radius: 100%;
  background: linear-gradient(
    to bottom,
    rgba(170, 171, 184, 0.7),
    rgba(0, 17, 61, 0)
  );
}
.banner-image-item {
  height: 280px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  background-size: contain;
  object-fit: cover;
}
.banner-image-item-1 {
  left: 20%;
  opacity: 1;
  transform: translateX(-50%);
  top: 10%;
  z-index: 2;
}
.banner-image-item-2 {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  top: 15%;
}
.banner-image-item-3 {
  opacity: 1;
  left: 80%;
  transform: translateX(-50%);
  z-index: 2;
  top: 10%;
}
.banner-shadow {
  width: 500px;
  height: 100px;
  background-color: #1e1e1e;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  opacity: 38%;
  z-index: 0;
}

.header-banner {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  background-color: #00113d;
  padding: 200px 0;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1279px) {
  .container {
    max-width: 95%;
  }
  .header-nav.is-fixed .container-fixed {
    padding: 15px 20px;
  }
  .banner-heading {
    font-size: 64px;
  }
  .banner-image {
    max-width: 450px;
    height: 475px;
  }
  .banner-image-item {
    width: 250px;
    height: 250px;
  }
  .banner-shadow {
    width: 450px;
    height: 80px;
    top: 57%;
  }
}
@media screen and (max-width: 1023px) {
}
.outstanding,
.custum {
  padding-top: 50px;
}
.outstanding-title,
.custum-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.outstanding-list,
.custum-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.outstanding-image,
.custum-image {
  background-color: #eff1f9;
  border-radius: 10px;
}
.outstanding-info,
.custum-info {
  margin-top: 20px;
  text-align: center;
}
.outstanding-name,
.custum-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.outstanding-price,
.custum-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.outstanding-price span {
  font-weight: 700;
  margin-right: 40px;
}
.custum-price span {
  font-weight: 700;
}
.outstanding-social,
.custum-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.outstanding-social-link,
.custum-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  color: #aaabb8;
  font-size: 20px;
  transition: all 0.25s ease;
}
.outstanding-social-link:hover,
.custum-social-link:hover {
  color: white;
}
.outstanding-main,
.custum-main {
  position: relative;
  z-index: 1;
  transition: transform 0.25s linear;
  will-change: transform;
}
.outstanding-main .outstanding-content,
.custum-main .custum-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background: linear-gradient(
    to bottom,
    hsla(223, 100%, 12%, 0.749),
    hsla(180, 100%, 50%, 0.502)
  );
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.outstanding-main:hover .outstanding-content,
.custum-main:hover .custum-content {
  opacity: 1;
  visibility: visible;
}

.brand {
  padding-top: 100px;
}

.brand-tilte {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.brand-bg {
  background-color: var(--primary-color);
  width: 100%;
}
.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-logo img {
  max-width: 150px;
}
.brand-logo img:not(:first-child) {
  margin-left: 50px;
}
.intelligent {
  padding-top: 100px;
}
.intellegent-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.intelligent-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.intelligent-top img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
.intelligent-top img:not(:first-child) {
  margin-left: 50px;
}
.intelligent-bottom {
  margin-top: 50px;
  width: 100%;
}
.intelligent-bottom img {
  width: 100%;
  height: 500px;
  border-radius: 50px;
  object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .intelligent-top img {
    height: 400px;
  }
  .intelligent-bottom img {
    height: 400px;
  }
}
@media screen and (max-width: 1023px) {
  .intelligent-top img {
    height: 300px;
  }
  .intelligent-top img:not(:first-child) {
    margin-left: 30px;
  }
  .intelligent-bottom img {
    margin-top: 30px;
    height: 300px;
  }
}
.versatile {
  padding-top: 100px;
  margin-top: 100px;
  background-color: #eff1f9;
  position: relative;
  height: 500px;
  z-index: 1;
}
.versatile-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 330px;
  z-index: 0;
}
.versatile-title {
  font-weight: 500;
  font-size: 42px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 50px;
  z-index: 1;
}
.versatile-title::after {
  content: "";
  width: 400px;
  height: 4px;
  background-color: var(--secondary-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.versatile-desc {
  font-weight: 300;
  font-size: 14px;
  color: #7b88a8;
  text-align: center;
  z-index: 1;
}
.versatile-bottom {
  text-align: center;
  margin-top: 40px;
  z-index: 1;
}
.versatile-button {
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #2e9cca;
  border-radius: 10px;
  border: none;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
.versatile-button:hover {
  background-color: var(--primary-color);
}
@media screen and (max-width: 1279px) {
  .versatile {
    height: 360px;
    padding-top: 50px;
  }
  .versatile-title {
    font-size: 36px;
  }
}
footer {
  background: var(--primary-color);
  padding-top: 50px;
}
.footer:first-child {
  padding-bottom: 40px;
}
.footer:first-child a {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
  padding-top: 10px;
}
footer p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  color: #e7e5ea;
}

footer h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;
  color: #ffffff;
  padding-top: 0px;
}
footer span {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: white;
  display: block;
}
footer img {
  width: 80px;
  height: 45px;
  position: relative;
}
footer fieldset {
  border: 0;
  padding: 0;
}
footer fieldset input {
  width: 235px;
  height: 48px;
  border-radius: 5px;
  background: #e7e5ea;
  border: 0;
  padding: 11px 18px;
}
footer fieldset button {
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 129px;
  height: 48px;
  background: #2e9cca;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 6px;
  transition: 0.3s ease-in-out;
}
footer fieldset button:hover {
  background-color: var(--primary-color);
  border: 1px solid #fff;
}
::placeholder {
  font-size: 16px;
}

.footer,
.form {
  display: flex;
}
.footer-content {
  width: 100%;
  position: relative;
  padding-top: 0px;
}
.footer-content img {
  margin-bottom: 5px;
  margin-left: 15px;
}
.footer-content p {
  margin-top: 10px;
  margin-bottom: 5px;
}

footer .footer:last-child {
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid #2e9cca;
}

footer .footer:last-child .footer-content:last-child {
  text-align: right;
}
footer .footer:last-child .footer-content:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #2e9cca;
  color: white;
  padding: 11px;
  margin-right: 3px;
  text-align: center;
  border-radius: 50%;
}
