:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}
html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link span {
  position: relative;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
}
