:root {
  --primary-color: #00113d;
  --secondary-color: #2e9cca;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
  width: 100%;
}

.container {
  max-width: 1240px;
  /* max-width: 90%; */
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__item:not(:first-child) {
  margin-left: 30px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__link.active {
  color: var(--secondary-color);
}

.nav__link:hover {
  color: var(--secondary-color);
}

.nav__link:hover span {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__link.absolute {
  position: relative;
}

.nav__link span {
  position: absolute;
  display: inline-block;
  background-color: var(--secondary-color);
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 2px;
  border-radius: 50%;
  top: -10px;
  left: 10px;
  transition: 0.3s ease-in-out;
}

.line-effect {
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.banner {
  width: 98%;
  max-height: 600px;
  margin: 0 auto;
  background-color: #00113d;
  display: flex;
  justify-content: space-between;
}

.banner .info {
  width: 45%;
  margin-top: 60px;
}

.info .info-heading {
  color: #fff;
  font-weight: 700;
  font-size: 74px;
}

.info .info-heading span {
  color: #2e9cca;
}

.info .sub-heading {
  color: #cbd5e1;
  font-size: 14px;
  font-weight: 400;
  margin-top: 24px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.button-heading {
  margin-top: 32px;
  display: flex;
  gap: 50px;
}

.button-heading .view-shop {
  /* width: 150px; */
  padding: 20px 30px;
  height: 45px;
  border-radius: 50px;
  border: 1.5px solid #fff;
  background-color: black;
  color: #fff;
  /* font-weight: 600; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}
.view-shop:hover {
  background-color: var(--secondary-color);
}
.button-heading .demo:hover {
  background-color: var(--secondary-color);
}

.button-heading .demo {
  padding: 20px 30px;
  height: 45px;
  border-radius: 50px;
  border: 1.5px solid #fff;
  background-color: black;
  color: #fff;
  font-family: "JetBrains Mono", sans-serif;
  /* font-weight: 600; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.demo .video {
  padding-right: 6px;
}

.quanlity {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.quanlity .happy-user {
  text-align: center;
}

.happy-user .quanlity-happy {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.happy-user .text-happy {
  color: #c8c8c8;
  font-size: 14px;
  padding: 5px 0 20px 0;
}

.quanlity .active-user {
  text-align: center;
}

.active-user .quanlity-active {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.active-user .text-active {
  color: #c8c8c8;
  font-size: 14px;
  padding: 5px 0 20px 0;
}

.quanlity .online-user {
  text-align: center;
}

.online-user .quanlity-online {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.online-user .text-online {
  color: #c8c8c8;
  font-size: 14px;
  padding: 5px 0 20px 0;
}

.banner .slider {
  width: 55%;
}

.slider .show {
  width: 550px;
  height: 550px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #aaabb8, #00113d);
  margin-left: 83px;
  margin-top: 50px;
}

.show .hinh {
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.elip {
  width: 500px;
  height: 100px;
  background-color: #1e1e1e;
  border-radius: 100%;
  margin-left: 25px;
  position: absolute;
  bottom: 30px;
  opacity: 38%;
}

.outstanding,
.custum {
  padding-top: 50px;
}
.outstanding-title,
.custum-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.outstanding-list,
.custum-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
}
.outstanding-image,
.custum-image {
  background-color: #eff1f9;
  border-radius: 10px;
}
.outstanding-info,
.custum-info {
  margin-top: 20px;
  text-align: center;
}
.outstanding-name,
.custum-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
}
.outstanding-price,
.custum-price {
  font-size: 16px;
  font-weight: 400;
  color: #7b88a8;
}
.outstanding-price span {
  font-weight: 700;
  margin-right: 40px;
}
.custum-price span {
  font-weight: 700;
}
.outstanding-social,
.custum-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.outstanding-social-link,
.custum-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50px;
  height: 50px;
  color: #aaabb8;
  font-size: 20px;
  transition: all 0.25s ease;
}
.outstanding-social-link:hover,
.custum-social-link:hover {
  color: white;
}
.outstanding-main,
.custum-main {
  position: relative;
  z-index: 1;
  transition: transform 0.25s linear;
  will-change: transform;
}
.outstanding-main .outstanding-content,
.custum-main .custum-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  background: linear-gradient(
    to bottom,
    hsla(223, 100%, 12%, 0.749),
    hsla(180, 100%, 50%, 0.502)
  );
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
}
.outstanding-main:hover .outstanding-content,
.custum-main:hover .custum-content {
  opacity: 1;
  visibility: visible;
}

.brand {
  padding-top: 100px;
}

.brand-tilte {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.brand-logo {
  background-color: var(--primary-color);
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-logo img {
  max-width: 150px;
}
.brand-logo img:not(:first-child) {
  margin-left: 50px;
}
.intelligent {
  padding-top: 100px;
}
.intellegent-title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}
.intelligent-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.intelligent-top img {
  width: 670px;
  height: 500px;
  border-radius: 50px;
}
.intelligent-top img:not(:first-child) {
  margin-left: 50px;
}

.gif-intelligent {
  width: 90%;
  margin: 136px auto 0;
}

.gif-intelligent .heading {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.gif-intelligent .top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.gif-intelligent .top img {
  /* width: 100%; */
  border-radius: 80px;
}

.gif-intelligent .top1 {
  width: 55%;
}

.gif-intelligent .top2 {
  width: 45%;
}

.gif-intelligent .bottom {
  margin-top: 50px;
  width: 100%;
}

.gif-intelligent .bottom img {
  width: 100%;
  border-radius: 80px;
  height: 500px;
}

.sub {
  margin: 136px auto 0;
  background-color: #eff1f9;
}

.sub .heading-sub {
  padding-top: 110px;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.sub .input {
  display: block;
  margin: 46px auto 0;
  width: 400px;
  border: none;
  background-color: #eff1f9;
  border-bottom: 2px solid #2e9cca;
}

.sub .text-sub {
  text-align: center;
  margin-top: 34px;
  color: #7b88a8;
  font-weight: lighter;
  font-size: 14px;
}

.sub button {
  font-family: "JetBrains Mono", sans-serif;
  display: block;
  margin: 40px auto 0;
  font-size: 18px;
  background-color: #2e9cca;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
  border: none;
}

.sub .tep {
  padding-top: 100px;
}
