:root {
  --primary-color: #00113d;
}
html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "JetBrains Mono", sans-serif;
  min-height: 100vh;
  margin: 0;
}

header {
  background: var(--primary-color);
  padding: 1em 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo span {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.5em;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
